<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<h1>O Cunha é uma gaja</h1>

<form>
    <fieldset>
        <legend>Introduza aqui os seus dados</legend>
        <h2>Introduza o nome de Utilizador</h2>
        <input type="text">
        <h2>Introduza a sua palavra chave</h2>
        <input type="password">
        <h2>Confirme a sua palavra passe</h2>
        <input type="password">
        <p><br></p>
        <input type="button" value="submeter">
    </fieldset>
</form>
</body>
</html>
